@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Arial', sans-serif;
  background-color: #F4F4FF;
  font-family: "Poppins";
  font-style: normal;
}